.staup-container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: baseline;

	filter: saturate(0.5);
	margin-right: 1em;
	opacity: 0.25;
	transition: 200ms;

	&:hover {
		opacity: 1;
		filter: saturate(1.0);
	}

	> .staup-actions {
		display: flex;
		flex-direction: row;
		gap: 0.25em;
	}
}

.shadow_popup:has(.staup-transferModal), .popup:has(.staup-transferModal) {
	.dialogue_popup_ok, .popup-button-ok {
		&:after {
			content: 'Transfer';
			height: 0;
			overflow: hidden;
			font-weight: bold;
		}
		display: flex;
		align-items: center;
		flex-direction: column;
		white-space: pre;
		font-weight: normal;
		box-shadow: 0 0 0;
		transition: 200ms;
	}
	.staup-copy {
		&:after {
			content: 'Copy';
			height: 0;
			overflow: hidden;
			font-weight: bold;
		}
		display: flex;
		align-items: center;
		flex-direction: column;
		white-space: pre;
		font-weight: normal;
		box-shadow: 0 0 0;
		transition: 200ms;
	}
	&:has(.staup-worldSelect:focus) {
		.dialogue_popup_ok, .popup-button-ok {
			font-weight: bold;
			box-shadow: 0 0 10px;
		}
		&.staup-isCopy {
			.dialogue_popup_ok, .popup-button-ok {
				font-weight: normal;
				box-shadow: 0 0 0;
			}
			.staup-copy {
				font-weight: bold;
				box-shadow: 0 0 10px;
			}
		}
	}
}
